body {
    background-color: #eee;
}

body, p, div, td {
    font-family: sans-serif;
    font-size: 13px;
}

div#content {
    border: solid 1px #ccc;
    background-color: #fff;
}

div#info {
}

div#info td{
    color: #666;
    font-size: 13px;
    vertical-align: top;
    padding: 3px;
    border-bottom: 1px solid #ccc;
    margin: 0px;
}

.link {
    stroke: #ccc;
}

.node text {
    pointer-events: none;
    font: 13px sans-serif;
}